/* Media queries for score panel and font sizes on smaller screens */

@media(max-width: 768px) {
  .score-panel {
    width: 100%;
    font-size: 0.9rem !important;
  }
  h1 {
    font-size: 35px !important;
  }
  .deck .card.show {
      font-size: 22px !important;
  }

  .deck .card.match {
      font-size: 22px !important;
  }
}

@media(min-width: 992px){
  .score-panel {
    width: 70%;
  }
}

@media(min-width: 1200px){
  .score-panel {
    width: 60%;
  }
}

/* Media queries for deck and card sizes on smaller screen */

@media(max-width: 450px){
  .deck {
    height: 65vh !important;
    padding: 20px !important;
  }
  .deck .card {
    height: 11.2vh !important;
  }
}

@media(max-width: 767px){
  .carddiv {
    padding: 8px !important;
  }
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 54px;
}

.main-heading, .score-panel{
  font-family: 'Bungee Inline', cursive;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    height: 92.5vh;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
    max-width: 100%;
    perspective: 800px;
}

.deck .card {
    width: 125px;
    height: 16.7vh;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: all 0.3s ease;
    transform-style: preserve-3d;
    max-width: 100%;
    max-height: 100%;
}

.deck .card.open {
    transform: rotateY(180deg);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.carddiv {
  padding: 15px;
}

.deck .card.unmatch {
  background: #B92727;
}


/*
 * Styles for the Score Panel
 */

.score-panel {
  margin: auto;
  font-size: 1.3rem;
}

.score-panel .stars {
    display: inline-block;
    margin: 0 0.1rem 0 0;
    padding-left: 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    cursor: pointer;
}

.deadline {
  color : red;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/* Modal styles */

.modal-full {
  min-width: 100%;
  margin: 0;
}

.modal-content {
  border: 0;
  min-height: 100vh;
  border-radius: 0;
}

.modal {
  padding: 0;
}

.modal {
   padding-right: 0px !important;
}

.modal-header {
  margin: 0 auto;
}

.modal-title {
  font-size: 4.5em;
}

.close {
  font-weight: normal;
  font-size: 5rem;
}

button:focus {
  outline: 0;
}

.modal-body {
  padding-top: 0.5rem;
}

.no {
  animation: no 0.5s 1 ease;
}

.yes {
  animation: yes 0.5s 1 ease;
}

@keyframes no {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes yes {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-10px);
  }

  40% {
    transform: translateY(10px);
  }

  60% {
    transform: translateY(-10px);
  }

  80% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

.modalanimation {
  animation: modalanimation 0.7s 1 ease;
}

@keyframes modalanimation {
  0% {
    transform: scale(0.5);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
